.gradle/
/build/
/dist/
.project
.classpath
.settings/
bin/
target/

# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.log
*.bak
*.swp
*~.
.DS_Store
.idea/
.vscode/
.iml
.ipr
.iws
/out/
/gen/

# Gradle
.gradle/
build/
**/*.iml
.idea/workspace.xml
.idea/libraries
.idea/modules.xml
.idea/gradle.xml
.gradle-enterprise/

#STS
.apt_generated
.factorypath
.springBeans

# Eclipse
.project
.classpath
.settings/

# OSX
.DS_Store

# Windows
Thumbs.db
Desktop.ini